.contact_section {
    background-color: rgb(38, 38, 40);
    display: flex;
    flex-direction: row;
    text-align: center;
    position: absolute;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

img {
    width: 25%;
}

p {
    color: #ffffff;
}

a {
    color: aliceblue;
}

a:hover {
    color: aqua;
}