h2 {
    color: #ffffff;
    text-transform: uppercase;
}

/* SECTION - ROBOT SUIVEUR */

.portfolio_section_robotsuiveur {
    background-color: rgb(25, 24, 26);
    width: 100%;
}

.colonne_gauche_robot_suiveur {
    width: 50%;
    text-align: justify;
    color: #ffffff;
    display: block;
    float: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.colonne_droite_robot_suiveur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* SECTION - LASER POUR CHAT */

.portfolio_section_laserchat {
    background-color: #29292c;
    width: 100%;
}

.colonne_gauche_laserchat {
    width: 50%;
    float: left;
    padding-top: 5%;
}

.colonne_droite_laserchat {
    display:inline-block;
    width: 50%;
    color: #ffffff;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
}

/* SECTION - ListX */

.portfolio_section_listX {
    background-color: #1d1d1f;
    color: #ffffff;
    width: 100%;
}

.colonne_gauche_listx {
    display: block;
    width: 50%;
    text-align: justify;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
}

.colonne_droite_listx {
    display: flex;
}

/* RESPONSIVE*/
@media screen and (max-width:800px){

}