.img {
    background: url(../assets/img/img_techno.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
}

a {
    text-decoration: underline;
    text-underline-offset: 1px;
}

/* -- SECTION SKILL -- */

.savoir-faire h3{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    animation: fadeIn 2s;
}

.skills button{
    background-color: rgb(38, 54, 103);
    width: 20rem;
    border-radius: 0;
    border-style: none;
    height: 10rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    animation: fadeIn 2s
}

.skills button:hover {
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 8px solid #ffffff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.skills p {
    padding-top: 1.5rem;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

.list-skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h3 {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    letter-spacing: 1px;
    font-weight: 300;
}

.skills p, h3 {
    color: #ffffff;
    letter-spacing: normal;
}

/* -- SECTION QUI SUIS-JE -- */

.qui-suis-je {
    background-color: rgb(24, 26, 27);
    color: #ffffff;
    display: inline-flex;
    width: 100%;
}

.photo {
    width: 33%;
    float: left;
    padding: 0;
    margin: 0;
}
.photo img {
    width: 100%;
    opacity: 0.35;
}

.presentation {
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 67%;
    text-align: justify;
}
.presentation a {
    color: #ffffff;
}
.presentation a:hover {
    color: aqua;
}

/* RESPONSIVE */

@media screen and (max-width:1300px){
    .presentation {
        padding-top: 5rem;
    }
}

@media screen and (max-width:1100px){
    .skills button {
        width: 18rem;
        height: 10rem;
    }
}

@media screen and (max-width:1000px){
    .skills button {
        width: 15rem;
        height: 12rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .list-skills h3{
        text-decoration: none;
    }
    .presentation {
        padding-top: 2rem;
    }
}

@media screen and (max-width:900px){
    /* SECTION QUI SUIS JE*/
    .qui-suis-je {
        display: block;
        width: 100%;
        text-align: center;
    }
    .photo{
        width: 100%;
    }
    .presentation {
        width: 100%;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .presentation {
        padding-top: 0rem;
    }
}

@media screen and (max-width:800px){
    /* SECTION SAVOIR FAIRE*/
    .list-skills {
        display: block;
        text-align: center;
    }
    .list-skills h3 {
        text-decoration: underline;
    }
    .skills button{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 30rem;
        height: 12rem;
    }
    #button3 {
        margin-bottom: 2rem;
    }
    .skills h3 {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:600px){
    .list-skills {
        display: block;
        text-align: center;
    }
    .list-skills h3 {
        text-decoration: underline;
    }
    .skills button{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 22rem;
        height: 12rem;
    }
    #button3 {
        margin-bottom: 2rem;
    }
    .skills h3 {
        margin-bottom: 1rem;
    }
    .photo p {
        text-align: justify;
        align-items: center;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}