h2 {
    color: #ffffff;
    text-transform: uppercase;
}

/* SECTION - ROBOT SUIVEUR */

.portfolio_section_robotsuiveur {
    background-color: rgb(25, 24, 26);
    width: 100%;
}

.colonne_gauche_robot_suiveur {
    width: 50%;
    text-align: justify;
    color: #ffffff;
    display: block;
    float: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.colonne_droite_robot_suiveur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* SECTION - LASER POUR CHAT */

.portfolio_section_laserchat {
    background-color: #29292c;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.colonne_gauche_laserchat {
    width: 50%;
    float: left;
}
.colonne_gauche_laserchat img {
    margin-top: 0.5rem;
    min-height: 330px;
}

.colonne_droite_laserchat {
    width: 50%;
    color: #ffffff;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: justify;
}

/* SECTION - ListX */

.portfolio_section_listX {
    background-color: #1d1d1f;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.colonne_gauche_listx {
    display: block;
    width: 50%;
    text-align: justify;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
}

.colonne_droite_listx {
    width: 50%;
}

/* RESPONSIVE*/
@media screen and (max-width:1200px){
    .portfolio_section_robotsuiveur {
        display: block;
        width: 100%;
        align-items: flex-end;
    }
    .colonne_gauche_robot_suiveur {
        width: 100%;
        text-align: justify;
        color: #ffffff;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .colonne_droite_robot_suiveur {
        width: 100%;
    }

    .portfolio_section_laserchat {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0rem;
    }
    .colonne_gauche_laserchat {
        width: 100%;
        padding-bottom: 0rem;
        padding-top: 0rem;
    }
    .colonne_droite_laserchat {
        width: 100%;
        color: #ffffff;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        text-align: justify;
    } 

    .portfolio_section_listX {
        background-color: #1d1d1f;
        color: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .colonne_gauche_listx {
        width: 100%;
        text-align: justify;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    
    .colonne_droite_listx{
        width: 100%;
        text-align: center;
    }
}