@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-list a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

header {
    background: rgb(34, 34, 36);
}

body {
    background-color: rgb(34, 34, 36);
    font-family: 'Saira';
}

.nav-list {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s;
}

.nav-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

.nav-item a {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.2s;
}

.nav-item a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: 0.3s;
    color: rgb(117, 71, 13);
}

/* RESPONSIVE */

@media screen and (max-width:600px){
    .nav-list {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}