.contact_section {
    background-color: rgb(38, 38, 40);
    display: inline;
    text-align: center;
}

div {
    background-color: rgb(38, 38, 40);;
}

.icons {
    margin-top: 10rem;
    margin-right: 8rem;
    margin-left: 8rem;
    width: 100px;
    height: 100px;
}

.content {
    display: inline-flex;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

#email {
margin-left: 12.25rem;
}
#linkedin {
    margin-left: 15.4rem;
}
#tel {
    margin-left: 16.5rem;
    margin-right: 11.9rem;
}

.content a{
    color: #ffffff;
}
.content a:hover {
    transition: 0.5s;
    color: aqua;
}